.card
    border: 1px solid #e0e0e0
    display: inline-block
    height: 100px
    width: 200px
    background-color: #fafafa
    padding: 5px
    margin: 5px
    p
        padding: 5px
        margin: 0px
    .name
        font-weight: bold

